<h1>Contacts</h1>
<form method="POST" action="send">
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Your name</label>
      <input
        name="userName"
        class="u-full-width"
        type="text"
        placeholder="Enter user name"
        id="exampleEmailInput"
      />
    </div>
    <div class="six columns">
      <div class="six columns">
        <label for="exampleEmailInput">Your email</label>
        <input
          name="userEmail"
          class="u-full-width"
          type="email"
          placeholder="test@mailbox.com"
          id="exampleEmailInput"
        />
      </div>
    </div>
  </div>
  <label for="exampleMessage">Message</label>
  <textarea
    name="userText"
    class="u-full-width"
    placeholder="Hi Dave …"
    id="exampleMessage"
  ></textarea>
  <label class="example-send-yourself-copy">
    <input type="checkbox" />
    <span class="label-body">Send a copy to yourself</span>
  </label>
  <input class="button-primary" type="submit" value="Submit" />
</form>